* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid_container {
  background-color: #ffc659;
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 100px;
  padding: 5px;
  width: 100%;
}

.grid_child {
  align-items: center;
  background-color: #6cabdd;
  border: 1px;
  color: #ffffff;
  display: flex;
  font-size: 30px;
  justify-content: center;
  padding: 100px;
}

.one {
  grid-column-start: 1;
  grid-column-end: 4;
}

.two {
  grid-column-start: 1;
  grid-column-end: 3;
}

.five {
  grid-column-start: 2;
  grid-column-end: 4;
}

.six {
  grid-row-start: 4;
  grid-row-end: 6;
}

.grid_container_one {
  background-color: #ffc659;
  display: grid;
  gap: 5px;
  grid-template-areas: "myArea myArea myArea myArea myArea";
  margin: 100px;
  padding: 5px;
}

.unos {
  grid-area: myArea;
}

.grid_container_two {
  background-color: #ffc659;
  display: grid;
  gap: 5px;
  grid-template-areas: "myArea myArea . . .";
  margin: 100px;
  padding: 5px;
}

.grid_container_three {
  background-color: #ffc659;
  display: grid;
  gap: 5px;
  grid-template-areas: "myArea myArea . . ." "myArea myArea . . .";
  margin: 100px;
  padding: 5px;
}

.eins {
  grid-area: header;
}
.zwei {
  grid-area: menu;
}
.drei {
  height: 1000px;
  grid-area: main;
}
.vier {
  grid-area: right;
}
.funf {
  grid-area: footer;
}

.grid_container_five {
  background-color: #ffc659;
  display: grid;
  gap: 5px;
  grid-template-columns: auto auto auto auto auto;
  margin: 100px;
  padding: 5px;
}

.otto {
  grid-area: 2 / 2 / 9 / 5;
}

.grid_container_six {
  background-color: #ffc659;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 20px;
  padding: 5px;
}

@media screen and (min-width: 800px) {
  .grid_container_six {
    background-color: #ffc659;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header header header" "left main right" "left footer footer";
    margin: 100px;
    padding: 5px;
  }
}
