* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid_container {
  background-color: #ffc659;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 20px;
  padding: 5px;
}

.grid_child {
  align-items: center;
  background-color: #6cabdd;
  border: 1px;
  border-radius: 5px;
  color: #ffffff;
  display: flex;
  font-size: 30px;
  justify-content: center;
  padding: 100px;
}

.one {
  grid-column-start: 1;
  grid-column-end: 4;
}

.two {
  grid-column-start: 1;
  grid-column-end: 3;
}

.five {
  grid-column-start: 2;
  grid-column-end: 4;
}

.six {
  grid-row-start: 4;
  grid-row-end: 6;
}

.grid_container_one {
  background-color: #ffc659;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 20px;
  padding: 5px;
}

.unos {
  grid-area: myArea;
}

.grid_container_two {
  background-color: #ffc659;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 20px;
  padding: 5px;
}

.grid_container_three {
  background-color: #ffc659;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 20px;
  padding: 5px;
}

.eins {
  grid-area: header;
}
.zwei {
  grid-area: menu;
}
.drei {
  height: 1000px;
  grid-area: main;
}
.vier {
  grid-area: right;
}
.funf {
  grid-area: footer;
}

.grid_container_four {
  background-color: #ffc659;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 20px;
  padding: 5px;
}

.won,
.too,
.free,
.for,
.fythe,
.sicks {
  border: 1px solid black;
}

.grid_container_five {
  background-color: #ffc659;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 20px;
  padding: 5px;
}

.otto {
  grid-area: 2 / 2 / 9 / 5;
}

.grid_container_six {
  background-color: #ffc659;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 20px;
  padding: 5px;
}

.first {
  grid-area: header;
}
.second {
  grid-area: left;
}
.third {
  grid-area: main;
}
.fourth {
  grid-area: right;
}
.fifth {
  grid-area: footer;
}

.grid_container_seven {
  background-color: #ffc659;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 20px;
  padding: 5px;
}

@media screen and (min-width: 850px) {
  .grid_container_six {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header header header" "left main right" "left footer footer";
    margin: 100px;
    padding: 5px;
  }

  .third {
    min-height: 500px;
  }

  .grid_container_seven {
    display: grid;
    gap: 5px;
    grid-template-columns: 200px 200px minmax(400px, auto);
    margin: 100px;
    padding: 5px;
  }
}

@media screen and (min-width: 1300px) {
  .grid_container {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 100px;
    padding: 5px;
  }

  .grid_container_one {
    display: grid;
    gap: 5px;
    grid-template-areas: "myArea myArea myArea myArea myArea";
    margin: 100px;
    padding: 5px;
  }

  .grid_container_two {
    display: grid;
    gap: 5px;
    grid-template-areas: "myArea myArea . . .";
    margin: 100px;
    padding: 5px;
  }

  .grid_container_three {
    display: grid;
    gap: 5px;
    grid-template-areas: "myArea myArea . . ." "myArea myArea . . .";
    margin: 100px;
    padding: 5px;
  }

  .grid_container_four {
    display: grid;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: repeat(3, 1fr);
    margin: 100px;
    padding: 10px;
  }

  .won {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .too {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
  .free {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
  }
  .for {
    grid-column: 3 / 4;
    grid-row: 3;
  }
  .fythe {
    grid-column: 2 / 3;
    grid-row: 4;
  }
  .sicks {
    grid-column: 3 / 4;
    grid-row: 4;
  }

  .grid_container_five {
    display: grid;
    gap: 5px;
    grid-template-columns: auto auto auto auto auto;
    margin: 100px;
    padding: 5px;
  }
}
